body{
  margin: 0;

}
.img{
  display: flex;
}
.profilepic{
  position: relative;
  margin: auto;
  align-items: center;
  top: -30px;
  border-radius: 100%;
  border-color: white;
  border: 6px solid #fff;
}
.top{
  background-color: darkcyan;
  background-color: hsl(185,75%,39%);
  width: 100%;
  position: absolute;
  height: 100%;
  overflow: hidden;

}
.toppattern{
  position: absolute;
  top: -500px;
  right: 600px;
}
.bottompattern{
  position: absolute;
  left: 600px;
  right: 0;
  bottom: 0;
  width: 60%;
}
.card{
border-top-left-radius: 10%;
border-top-right-radius: 10%;
display: flex;
}
.profile{
  height: 350px;
  width: 300px;
  border-radius: 10%;
  background-color: white;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
text-align: center;
}
.name{
  position: relative;
  top: -30px;
  font-weight: 600;
  font-family: cursive;
}
span{
  color: grey;
  font-family: serif;
  padding-left: 10px;

}
p{
  font-family: serif;
position: relative;
top: -30px;
margin-bottom: 0;
color: grey;
}
hr{
  margin: 0;
  border-top-style: solid;
  border-bottom-style: none;
border-width: thin;
  color: darkgrey;
  color: hsl(0,0%,59%);
border-top-color: darkgrey;
position: relative;
top: -10px;
}
.cardstats{
  align-items: center;
  justify-content: space-around;
  display: flex;
}
h4{
  position: relative;
  top: -20px;
  font-family: cursive;
}
.ss{
  margin-top: 0;
  position: relative;
  top: -40px;
  font-weight:lighter;
  font-size: 11px;
}
